<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keyword" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title}}</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="container">
  {{{contents}}}
</div>
<script src="./js/script.js"></script>
</body>
</html>